<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('editor/head') %>
</head>

<body class="night">
    <%- include('editor/header') %>
    <%- include('editor/body') %>
    <%- include('editor/footer') %>
    <%- include('editor/foot') %>
</body>

</html>
